<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/fragment/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1>Image Read page</h1>
      <div class="form-group row">
        <label>IBno</label>
        <input type="text" class="form-control form-control-user" name="ibno" th:value="${dto.ibno}" readonly>
      </div>
      <div class="form-group row">
        <label>Text</label>
        <input type="text" class="form-control form-control-user" name="text" th:value="${dto.text}" readonly>
      </div>
    <div class="form-group row">
      <ul>
        <li th:each="image: ${dto.imageDTOList}">
          <img  th:if="${image.path != null}" th:src="|/display?fileName=${image.getImagePath()}|">
        </li>
      </ul>
    </div>
      <div class="form-group row">
        <label>Writer Email</label>
        <input type="text" class="form-control form-control-user" name="email" th:value="${dto.email}" readonly>
      </div>
      <div class="form-group row">
        <label>RegDate</label>
        <input type="text" class="form-control form-control-user" name="regDate" th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd')}" readonly>
      </div>
      <div class="form-group row">
        <label>ModDate</label>
        <input type="text" class="form-control form-control-user" name="modDate" th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd')}" readonly>
      </div>
    
      <a th:href="@{/image/list(page=${pageRequestDTO.page})}">
        <button class="btn btn-info btn-icon-split">
         <span class="text">List</span>
        </button>
      </a>
  </th:block>
</th:block>
</html>