<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/fragment/layout::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1>Image Read page</h1>
    <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
      <div class="form-group row">
        <label>IBno</label>
        <input type="text" class="form-control form-control-user" name="ibno" th:value="${dto.ibno}" readonly>
      </div>
      <div class="form-group row">
        <label>Text</label>
        <input type="text" class="form-control form-control-user" name="text" th:value="${dto.text}" readonly>
      </div>
    <div class="form-group row imgList">
      <ul>
        <li th:each="image: ${dto.imageDTOList}" th:data-path="${image.getImagePath()}">
          <img  th:if="${image.path != null}" th:src="|/display?fileName=${image.getImagePath()}|">
        </li>
      </ul>
    </div>
      <div class="form-group row">
        <label>Writer Email</label>
        <input type="text" class="form-control form-control-user" name="email" th:value="${dto.email}" readonly>
      </div>
      <div class="form-group row">
        <label>RegDate</label>
        <input type="text" class="form-control form-control-user" name="regDate" th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd')}" readonly>
      </div>
      <div class="form-group row">
        <label>ModDate</label>
        <input type="text" class="form-control form-control-user" name="modDate" th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd')}" readonly>
      </div>

    <form method="POST" th:action="@{/image/remove}">
      <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${#authentication.name == dto.email}">
      <input type="hidden" name="ibno" th:value="${dto.ibno}">
      <input type="hidden" name="email" th:value="${dto.email}">
            <button class="btn btn-danger btn-icon-split removeBtn" >
              <span class="text">Remove</span>
            </button>
      </th:block>
        <button class="btn btn-info btn-icon-split listBtn">
         <span class="text">List</span>
        </button>
    </form>
  </th:block>
</th:block>
<script th:inline="javascript">
  $(document).ready(function(){

    var form = $("form");
    var listBtn = $(".listBtn");
    var removeBtn = $(".removeBtn");

    listBtn.on("click",function(e){
      e.preventDefault();
      var page = $("input[name='page']");
      console.log(page);
      form.empty();
      form.attr("method", "get");
      form.attr("action", "/image/list");
      form.append(page);
      form.submit();
    });

    removeBtn.on("click",function(e){
      e.preventDefault();
      if(confirm("삭제하시겠습니까?")){
        var imgList = $(".imgList li");
        console.log(imgList);
        console.log(imgList.length);

        for(var i=0;i<imgList.length;i++){
          console.log(imgList[i]);
          console.log($(imgList[i]).data("path"));
          var filePath = $(imgList[i]).data("path");

          $.ajax({
            url:"/removeFile",
            data:{"filePath" : filePath},
            type:"POST",
            dataType: "text",
            success:function (result){
              console.log(result);
            },
            error: function (request,status,error){
              console.log(request);
            }
          });
        }

        form.submit();
      }

    });
  });


</script>
</html>